.composant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 30px;
    margin-left: 5%;
    width: 90%;
    gap: 10px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.card {
    height: 340px;
    width: 340px;
    overflow: clip;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-img {
    height: 340px;
    width: 340px;
    overflow: clip;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: auto;
    height: 100%;
}

.card-img-opa {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.8)
    );
}

.card p {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    bottom: 15px;
    left: 25px;
    color: white;
}

@media (max-width: 640px) {
    .card {
        width: 100%;
    }
    #composant-cards {
        margin-top: 0px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: white;
    }
    .card p {
        position: absolute;
        font-size: 10px;
        color: white;
    }
}
