#composant-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    color: #fd6868;
    min-height: 110px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.left .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left .title h3 {
    font-size: 40px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.right .profil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.name-profil {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    width: 100px;
    margin-right: 10px;
}

.photo-profil {
    background-color: grey;
    width: 50px;
    height: 40px;
    border-radius: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10px;
}

.tag {
    color: white;
    font-size: 12px;
    background-color: #fd6868;
    border-radius: 10px;
    width: 115px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.star {
    margin-right: 5px;
    width: 24px;
}

@media (max-width: 640px) {
    #composant-title {
        display: flex;
        flex-direction: column;
    }

    .left .title h3 {
        font-size: 20px;
    }
    .left .title p {
        font-size: 15px;
    }

    .tags {
        flex-wrap: wrap;
    }
    .tag {
        font-size: 11px;
        width: 84px;
        height: 18px;
        margin-bottom: 5px;
    }

    .right {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }
}
