* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.img-header .logo {
    max-width: 60%;
}

.header-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}

.header-menu ul li a {
    color: #ff6060;
    text-decoration: none;
}

@media (max-width: 640px) {
    .img-header .logo {
        max-width: 50%;
    }
    .header-menu ul li a {
        font-size: 13px;
    }
}
