* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.img-header .logo {
    max-width: 60%;
}

@media (max-width: 640px) {
    .img-header .logo {
        max-width: 70%;
    }
}

.header-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-menu ul li {
    list-style-type: none;
    color: #ff6060;
    margin: 10px;
}
